# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
locale                   : "en"
title                    : "Stock Licensing Protocol"
subtitle                 : "A better way to licence stock photos, videos, vectors, music and templates"
title_separator          : "-"
description: >- # this means to ignore newlines until "baseurl:"
  Stock Licencing Protocol is a blockchain based protocol to licence stock photo, video, vector, music and templates.  
  NFTs are used to licence the assets to the stock buyers.
twitter_username         : "StockLicensing"
github_username          : "Stock-Licensing-Protocol"
minimal_mistakes_skin    : "contrast"

search                   : "true"
search_full_content      : "true"
search_provider          : "lunr" # lunr (default), algolia, google

url                      : "http://www.stocklicencingprotocol.com/" # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
#baseurl                  : "/mm-github-pages-starter" # the subpath of your site, e.g. "/blog"
repository               : "Stock-Licensing-Protocol/mm-github-pages-starter" # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"

logo                     : "/assets/images/SLP-logo-800px.png"

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: "America/Vancouver" # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Stock Licencing Protocol"
  avatar : "/assets/images/SLP-logo-800px.png"
  bio    : ""
  links:
    #- label: "Website"
    #  icon: "fas fa-fw fa-link"
    #  url: "https://"
    #- label: "Twitter"
    #  icon: "fab fa-fw fa-twitter-square"
    #  url: "https://twitter.com/"
    #- label: "GitHub"
    #  icon: "fab fa-fw fa-github"
    #  url: "https://github.com/"
    #- label: "Instagram"
    #  icon: "fab fa-fw fa-instagram"
    #  url: "https://instagram.com/"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/StockLicensing"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Stock-Licensing-Protocol"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
